* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: url('backgraund.jpg') no-repeat center center/cover;
  color: white;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.7);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: orange;
}
.black-text {
  color: rgb(10, 233, 28);

  padding: 10px;
  border-radius: 5px;
}
nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.search-box {
  display: flex;
}

.search-box input {
  padding: 6px 10px;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
}

.search-box button {
  padding: 6px 12px;
  background: orange;
  border: none;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
}

.left {
  flex: 1;
  max-width: 50%;
}

.left h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.left h1 span {
  color: orange;
}

.left p {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.join-btn {
  padding: 10px 20px;
  background: orange;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-left: auto;
}

.right {
  flex: 1;
  max-width: 30%;
}

.login-box {
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 10px;
}

.login-box h2 {
  background: white;
  color: black;
  text-align: center;
  padding: 10px 0;
  border-radius: 6px;
  margin-bottom: 20px;
}

.login-box input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: transparent;
  border: 1px solid orange;
  border-radius: 5px;
  color: white;
}

.login-box .login-btn {
  width: 100%;
  padding: 10px;
  background: orange;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

.login-box p {
  text-align: center;
  margin: 10px 0;
}

.login-box a {
  color: orange;
  text-decoration: none;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.social-icons i {
  background: white;
  color: black;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}